NODE_ENV=development
PORT=3000
DATABASE=mongodb://root:<PASSWORD>@mongo:27017/natours?authSource=admin
DATABASE_PASSWORD=password

JWT_SECRET=top-secret-json-web-token-for-demo-project
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_POST=
